<h1>Portfolio Items</h1>

<% @portfolio_items.each do |pfolio_item| %>
  <p><%= pfolio_item.title %></p>
  <p><%= pfolio_item.subtitle %></p>
  <p><%= pfolio_item.body %></p>
  <%= image_tag pfolio_item.thumb_image %>
<% end %>
